h1,
p {
  font-family: Lato;
}

body {
  background-color: #00b4cc;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
}

.autocomplete {
  width: 300px;
  position: relative;
}

.autocomplete:focus {
  border: 4px solid #08a1b6;
  outline: none;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width: 50%;
}

li {
  padding-left: 20px;
}

li:hover {
  background-color: green;
}

ul.autocomplete-items {
  display: block;
  list-style: none;
  width: 30 rem;
}

ul.autocomplete-items li {
  display: "block";
  margin: 10px auto;
  padding: 10px;
  border-radius: 2px;
}

.error-text {
  margin-top: 12px;
}
